#menu {
	display: none;
	z-index: 9990;
	position: absolute;
	top: 90px;
	left: 30px;
	max-width: 9999px;
	max-height: 590px;
	white-space: nowrap;
	transition: left 1s cubic-bezier(.02, .01, .47, 1);
	-webkit-transition: left 1s cubic-bezier(.02, .01, .47, 1);
}

.menu_element {
	display: none;
	float: left;
	max-width: 450px;
	margin-right: 10px;
	border-style: solid;
	border-width: 2px; 
	border-color: white;
	padding-top: 5px;
 	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 26px;
	background-color: rgba(0,0,0,0.8);
}


#epg {
	display: none;
	position: absolute;
	left: 715px;
	width: 500px;
	white-space: normal;
	transition: left 2s cubic-bezier(.02, .01, .47, 1);
	-webkit-transition: left 2s cubic-bezier(.02, .01, .47, 1);
}

.epgSub {
	max-height: 575px;
	overflow: hidden;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 2px; 
	border-color: white;
	padding: 10px;
	text-align: left;
	word-wrap: break-word;
	font-size: 21px;
	color: rgb(140,140,140);
	background-color: rgba(0,0,0,0.9);
}

#thumbnail {
	display: none;
	height: 268px;
	margin-bottom: 10px;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
}

.epgHeader {
	color: white;
	margin-bottom: 7px;
}

.epgActive {
	color: white;
}

.item {
	color: rgb(140,140,140);
	white-space: nowrap;
	overflow: hidden;
}

.item.selected {
	color: white;
	overflow: scroll;
}
